airflow/logs/*


Docker/spark-master/spark-4.0.1-bin-hadoop3.tgz
Docker/spark-master/spark-4.0.1-bin-hadoop3.tgz.1
Docker/spark-worker/spark-4.0.1-bin-hadoop3.tgz
Docker/spark-master/spark-4.0.1-bin-hadoop3/*
Docker/spark-worker/spark-4.0.1-bin-hadoop3/*

data/*